@import "css/normalize.css";


//-----------------------------------MOBILE HEADER--------------------------

.page-wrapper{
	
	font-family: sans-serif;
	margin: 0 auto;
	background-color: #E0E2DB;

	



	.intro{
		header{
			background-color: #E5AE2E;
			color: #3F3F37;
			margin-bottom: 0em;
			padding: 1.5em;



			h1{
			font-family: "brim-narrow-combined-2";
			font-size: 1.5em;
			margin-bottom: 0em;
			margin: 0.5em;
			
				}
			h2{
			font-family: "brim-narrow-combined-2";
			font-size: 1em;
			
			margin: 1em;
			
				}
			
		}
		
		.summary{
			transition: background-color 2s ease-out;
			transition: color 2s ease-out;
			background-color: #3F3F37;
			color: #D5D5B0;
			text-align: right;
			line-height:1.2;
			



			
			p{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 2em;

				a{
					color: #ffffff;
					
				}
			}

		}

		
		.summary:hover {
		  background-color: #D5D5B0;
		  color:#3F3F37;
		  cursor: pointer;
		  -webkit-transition: background-color, color 2s ease-out;
		  -moz-transition: background-color, color 2s ease-out;
		  -o-transition: background-color, color 2s ease-out;
		  transition: background-color, color 2s ease-out;
		  -webkit-transition: color 2s ease-out;
		  -moz-transition: color 2s ease-out;
		  -o-transition: color 2s ease-out;
		  transition: color 2s ease-out;
		}

		.preamble{
			transition: background-color 2s ease-out;
			transition: color 2s ease-out;
			background-color: #3D348B;
			color: #E0E2DB;
			text-align:left;

			h3{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 1em;
				margin: 1.5em;
				margin-bottom: 0.5em;
			}

			p{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 1.5em;
				line-height: 1.2;
				margin-top: 0em;
			}

		}

		.preamble:hover{
			background-color: #E0E2DB;
			color:#3D348B;
			cursor: pointer;
			-webkit-transition: background-color, color 2s ease-out;
			  -moz-transition: background-color, color 2s ease-out;
			  -o-transition: background-color, color 2s ease-out;
			  transition: background-color, color 2s ease-out;
			  -webkit-transition: color 2s ease-out;
			  -moz-transition: color 2s ease-out;
			  -o-transition: color 2s ease-out;
			  transition: color 2s ease-out;
		}

	}

	//---------------------------------MOBILE MAIN BODY---------------------------

	.main{
		

		

		.explanation{
			background-color: #E6AF2E;
			color: #3D348A;
			text-align:right;
			h3{
				margin: 1.5em;
				font-size: 1.5em;
				font-family: "freight-macro-pro";
				margin-bottom: 0.5em;
			}
			p{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 1em;
				margin-top: 0em;
				line-height: 1.2;
			}
		}
		

		.participation{
			background-color: #E0E2DB;
			text-align:left;
			color:#191716;
			margin-left: 0em;


			h3{
				margin: 1.5em;
				font-family: "freight-macro-pro";
				font-size: 1em;
				margin-bottom: 0.5em;
			}
			p{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 1.5em;
				line-height: 1.2;
				margin-top: 0em;
			}

			a{
				text-decoration: none;
				
			}
		}

		.benefits{
			font-family: "freight-macro-pro";
			color:#E0E2DB;
			background-color:#191716;

			h3{
				font-size: 1em;
				margin: 1.5em;
				margin-bottom: 0.5em;
			}
			p{
				font-size: 1.5em;
				line-height: 1.2;
				margin: 1em;
				margin-top: 0em;
			}
		}


		.requirements{
			background-color: #3D348B;
			color: #ffffff;
			text-align:right;
			margin-bottom: 0em;
			h3{
				margin: 1.5em;
				font-family: "freight-macro-pro";
				font-size: 1em;
				margin-bottom: 0.5em;

			}
			p{
				margin: 1em;
				font-family: "freight-macro-pro";
				font-size: 1.5em;
				color: #E6AF2E;
				margin-top: 0em;
				line-height: 1.2;
			}
			a{
				
				color: #191716
			}
		}

	}

	footer{
		margin-top: 0em;
		text-align: center;
		font-family: "freight-macro-pro";
		
		a{
			color:#191716;			
			margin: 0 auto;
			font-size: 2em;
			

		}
	}




	.sidebar{
		background-color:#BEB784;

		.wrapper{

				h3{
					text-align: center;
					font-family: "freight-macro-pro";
					font-size: 1.5em;
					margin-bottom: .05em;
				}

				ul{
					list-style-type: none;
					text-align: center;
					li{
						

						a{
							text-decoration: none;
							color: #3D348B;
							font-family: "freight-macro-pro";

						}
					}
				}
			


		}
	}
}



//--------------------------------BREAKPOINT 1---------------------------------

@media (min-width:550px){

	.intro{
		header{
			overflow: hidden;
			background-color:#E0E2DB;
			
		}
		
		.summary{
			width: 50%;
			float:left;
			-webkit-transform: rotate(37deg);
			  -moz-transform: rotate(37deg);
			  -ms-transform: rotate(37deg);
			  -o-transform: rotate(37deg);
			  transform: rotate(37deg);
			  background-color:#CC6633;
			  margin-top:5em;
			  opacity: .75;
			  padding-left:1em;



		}

		.preamble{
			width: 45%;
			float:right;
			text-align:right;
			  opacity: .75;
			  margin-bottom: 3em;
				

			  		

		}

	}

	.main{
		clear: both;
		overflow: hidden;
		box-sizing: border-box;

		.explanation{
			
			font-size: 1.5em;
			background-color:#E0E2DB;
		}

		.participation{
			clear:right;
			background-color:#3D348B;
			margin-left: 1em;
			width: 33%;
			float: left;
			padding-right:1em;

		}
		.benefits{
			width: 33%;
			float: left;
		}
		.requirements{
			p{
				margin: 1em;
			}
		}
		

		
		

	}

	.sidebar{

		.wrapper{


		}

	}


}

















